<div class="page-title">
  <h4>
    <a
      routerLink="/categories"
    >Categories</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Add' : 'Update'}} category
  </h4>
  <span>
            <button
              *ngIf="!isNew"
              (click)="deleteCategory()"
              class="btn btn-small red">
              <i class="material-icons">delete</i>
            </button>
          </span>
</div>

<div class="row">
  <form
    class="col s12 l6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">Name</label>
      <span
        *ngIf="form.get('name').invalid && form.get('name').touched"
        class="helper-text red-text">
        <span
        *ngIf = "form.get('name').errors['required']"
        >
          Item name can not be empty
        </span>
      </span>
    </div>

    <div>
      <input
        class="ds"
        type="file"
        (change)="onFileUpload($event)"
        #input
      >
      <button
        (click) = "triggerClick()"
        [disabled]="form.disabled"
        type = "button"
        class="waves-effect waves-light btn orange lighten-2 mb2"
      >
        <i class="material-icons left">backup</i>
        Upload image
      </button>
    </div>

    <div>
      <button
        type = "submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn">
        Save changes
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      class="responsive-img h200"
      [src]="imagePreview"
      *ngIf="imagePreview">
  </div>
</div>
<app-positions-form
  *ngIf="category?._id"
[categoryId]="category._id"
></app-positions-form>
