<div class="page-title">
  <h4>Categories</h4>
  <button
    class="waves-effect waves-light btn grey darken-1"
    routerLink="/categories/new"
  >
    Add Category
  </button>
</div>

<div
  class="row"
  *ngIf="categories$ | async as categories; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="categories.length; else empty">
      <a
        *ngFor="let category of categories"
        [routerLink]="['/categories', category._id]"
        class="collection-item">
      {{category.name}}
      </a>
    </div>
  </div>
</div>
<ng-template #empty>
  <div class="center">
    Categories are empty
  </div>
</ng-template>
<ng-template #loader>
<app-loader></app-loader>
</ng-template>
