<div *ngIf = "positions$ | async as positions; else loader">
<table class="highlight" *ngIf="positions.length !== 0; else empty">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let position of positions">
    <td>{{position.name}}</td>
    <td>{{position.cost}} USD</td>
    <td>
      <div class="input-field inline order-position-input">
        <input type="number" value="1" min="1" [(ngModel)]="position.quantity">
      </div>
    </td>
    <td>
      <button
        class="btn waves-effect wavers-light btn-small"
        (click)="addToOrder(position)"
        [disabled]="!position.quantity"
      >add</button>
    </td>
  </tr>
  </tbody>
</table>

  <ng-template #empty>
    <div class="center">There are no positions yet</div>
  </ng-template>

</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
