<div class="page-title">
  <h4 *ngIf="isRoot">Order</h4>
  <h4 *ngIf="!isRoot">
    <a routerLink="/order">Order</a>
    <i class="material-icons">keyboard_arrow_right</i>
    Add Items
  </h4>
  <button
    [disabled]="order.list.length ===0"
    class="waves-effect btn grey darken-1 modal-trigger"
    data-target="explore-order"
    (click)="open()"
  >
    Complete
  </button>
</div>

<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Your order</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of order.list">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.cost}}</td>
        <td><i (click)="removePosition(item)" class="material-icons pointer">delete</i></td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>Total <strong>{{order.price}} USD</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="pending"
      class="modal-action waves-effect waves-black btn-flat"
      (click)="cancel()"
    >Cancel
    </button>
    <button
      [disabled]="order.list.length ===0 || pending"
      class="modal-action btn waves-effect"
      (click)="submit()"
    >Apply
    </button>
  </div>
</div>

