<div class="page-title">
  <h4>Orders History</h4>
  <button
    #tooltip
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      'active': isFilterVisible,
      'red': isFiltered()
      }"
    data-position="left"
    data-tooltip="Open filter"
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>


<app-history-filter
  *ngIf="isFilterVisible"
  (Filter)="applyFilter($event)"
></app-history-filter>


<div *ngIf="!reloading; else reloadingBlock">
  <div *ngIf="orders.length > 0; else empty">
  <app-history-list [orders]="orders"></app-history-list>

  <div
    *ngIf="!noMoreOrders"
    class="center mb2">
    <button
      class="btn waves-effect grey darken-1 btn-small"
      (click)="loadMore()"
      *ngIf="!loading; else loader"
    >Load more
    </button>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
  </div>
  <ng-template #empty>
    <div class="center">There are no orders yet</div>
  </ng-template>
</div>
<ng-template #reloadingBlock>
  <app-loader ></app-loader>
</ng-template>
