<table class="highlight mb2">
  <thead>
  <tr>
    <th>№</th>
    <th>Date</th>
    <th>Time</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.order}}</td>
    <td>{{order.date | date: 'dd.MM.yyyy'}}</td>
    <td>{{order.date | date: 'hh:mm a'}}</td>
    <td>${{computePrice(order)}}</td>
    <td>
      <button
        (click)="selectOrder(order)"
        class="btn btn-small grey darken-1">
        <i class="material-icons">open_in_new</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div id="order-list" class="modal modal-fixed-footer" #modal>
  <div
    *ngIf="selectedOrder"
    class="modal-content">
    <h4 class="mb1">Order №{{selectedOrder.order}}</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
      </tr>
      </thead>

      <tbody *ngFor="let item of selectedOrder.list">
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>${{item.cost}}</td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>Total : <strong>${{computePrice(selectedOrder)}}</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="closeModal()"
      class="modal-action waves-effect waves-black btn-flat">
      Close</button>
  </div>
</div>
