<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input type="number" id="number" min="1" [(ngModel)]="order">
        <label for="number">Order number</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input type="text" #start>
        <label>Start date</label>
      </div>

      <div class="input-field">
        <input type="text" #end>
        <label>End date</label>
      </div>
    </div>
  </div>

  <button
    (click)="submitFilter()"
    class="btn waves-effect wavers-light btn-small"
    [disabled]="!isValid"
  >Apply filter</button>
</div>

