<form
  class="card"
  [formGroup] = "form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Login</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid':form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">Email should not be empty</span>
        <span *ngIf="form.get('email').errors['email']">Enter correct emaill</span>
      </span>
    </div>
    <div class="input-field">
      <input id="password"
             type="password"
             formControlName="password"
             [ngClass]="{'invalid':form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Password should be {{form.get('password').errors['minlength']['requiredLength']}} symbols
          Now {{form.get('password').errors['minlength']['actualLength']}}
          </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type = "submit"
      class="modal-action btn waves-effect"
      [disabled] = "form.invalid || form.disabled"
    >Login
    </button>
  </div>
</form>
